@charset "UTF-8";

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    #tablet , #desk , #tv , #cell {
        display: none;
    }

    main {
        margin-top: 10px;
        border: 2px solid black;
        height: 90vh;
        width: 90vw;
    }

    #print {
        border: 1px solid black;
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px) 
{
    #tablet , #print , #desk , #tv {
        display: none;
    }
    body {
        background-image: url(imagens/back-phone.jpg);
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) 
{
    #cell , #print , #desk , #tv {
        display: none;
    }

    body {
        background-image: url(imagens/back-tablet.jpg);
    }
}

@media screen and (min-width: 769px) and (max-width: 1920px) 
{
    #cell , #tablet , #print , #tv {
        display: none;
    }

    body {
        background-image: url(imagens/back-pc.jpg);
    }
}

@media screen and (min-width: 1921px) 
{
    #cell , #tablet , #print , #desk {
        display: none;
    }

    body {
        background-image: url(imagens/back-tv.jpg);
    }
}
