@charset "UTF-8";

@media print {
    main {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #tablet , #print , #desk , #tv {
        display: none;
    }
    body {
        background-image: url(imagens/back-phone.jpg);
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    #cell , #print , #desk , #tv {
        display: none;
    }
    body {
        background-image: url(imagens/back-tablet.jpg);
    }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
    #cell , #tablet , #print , #tv {
        display: none;
    }
    body {
        background-image: url(imagens/back-pc.jpg);
    }
}

@media screen and (min-width: 1921px) {
    #cell , #tablet , #print , #desk {
        display: none;
    }
    body {
        background-image: url(imagens/back-tv.jpg);
    }
}
