@charset "UTF-8";

body {
            background-color: blueviolet;
        }
        h1 {
            color: aqua;
        }
        h2 {
            color: aquamarine;
        }
        p {
            color: antiquewhite;
        }