table
{
    border-collapse: collapse;

}
body 
{
    background-color: aliceblue;
}
h2
{
    text-align: center;
    text-decoration: dashed;
}
table
{
    margin: 3%;
}
th
{
    border: 1px solid black;
}
td
{
    border: 1px solid black;
    text-align: center;
}
table , th ,td 
{
    padding: 5px;
}