@charset "UTF-8";

@media screen and (min-width: 1023px) {
        span#menu {
            display: none;
        }

        menu {
            display: block;
            background-color: darkblue;
        }

        ul {
            text-align: center;
            padding: 5px;
        }

        menu > ul > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: bold;
             border: 5px solid rgb(11, 38, 89);
             background-color: rgb(26, 90, 208);
        }

        main {
            width: 100%;
            max-width: 800px;
            margin: auto;

            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.346);
            border: 1px solid gray;
        }
}


